*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;    
}
:root{
    --burntred: #E94D40;
    --navyblue: #0C243C;
}

#wrapper{
    width: 960px;
    height:auto ;
    background-color: white;
    margin: auto;
}
h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
    margin-left: 20px;
}

nav{
    width: 960px;
    height: 10px;
    /*background-color: #cb5737;*/
    text-align: right;    
} 
nav>a{
    color: var(--navyblue);
    line-height: 5pt;
    margin-left: 15px; 
    text-decoration: none; 
}
nav>a:hover{
    text-decoration: overline;
}


h5{
    color: white;
    text-align: center;
}
p {
    margin-bottom: 5px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 20px;    
    color: var(--burntred); 
 
}

article{
    
    margin-left: 10px;
    line-height: 10px;
    height: 10px;        
    /* background-color: aqua; */
}

footer{
   padding: 10px;
   margin: auto;    
    text-align: center;
    background-color: #0C243C; 

}

